<div class="sys-person">
    <div class="row">
        <div class="col-md-1">
            <button onclick="" class="btn btn-primary"><i class="icon-plus"></i> 创建</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="panel-item">
                        <strong class="col-md-4">名称：</strong>
                        <div class="col-md-8">系统管理员</div>
                    </div>
                    <div class="panel-item">
                        <strong class="col-md-4">描述：</strong>
                        <div class="col-md-8 panel-desc">具有全部的菜单和操作</div>
                    </div>
                    <div class="panel-item">
                        <strong class="col-md-4">人员：</strong>
                        <div class="col-md-8 panel-person">Admin</div>
                    </div>
                </div>
                <div class="panel-footer flex-justify">
                    <button class="btn btn-primary btn-sm">分配权限</button>
                    <button class="btn btn-primary btn-sm">修改</button>
                    <button class="btn btn-danger btn-sm">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .sys-person .row {
        margin: 20px;
    }
    .sys-person .panel-item {
        padding: 5px;
        overflow: hidden;
    }
    .sys-person .panel-footer {
        overflow: hidden;
    }
    .sys-person .panel-desc {
        min-height: 60px;
    }
    .sys-person .panel-person {
        min-height: 80px;
    }
    .flex-justify {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
</style>

<script>
    $(function () {
        $.ajax({
            url: '../SysRole/GetData', //获取数据的url
            timeout: 5000,
            type: 'post',
            dataType: 'json',
            success: function (res) {
                console.log(res)
            }
        })
    });
</script>