<div class="portlet light bordered">
   @RenderBody() 
</div>
    <!-- 验证 -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type='text/javascript'>
    function ajaxFrom(form, url) {
       

      
    }

    $(function () {
       
        $("form").submit(function (form) {
            
            debugger;
            if (form.result) {         
                var dsf = this.result;
                $.ajax({
                    url: this.action,
                    type: "Post",
                    data: $(this).serialize(),
                    dataType: "json",
                    success: function (data) {


                    }
                });
            }
            return false;
        });

    });
</script>

