<div class="col-md-12">
    <div class="dd" id="nestable">
        <ol class="dd-list">
            <li class="dd-item" data-id="1">
                <div class="dd2-content">
                    <div class="col-md-2">市场部</div>
                    <div class="col-md-3">北京市朝阳区</div>
                    <div class="col-md-3">111</div>
                    <div class="action-buttons col-md-3 text-right">
                        <a class="blue">
                            <i class="ace-icion fa fa-pencil bigger-130"></i>
                        </a>
                        <a class="red">
                            <i class="ace-icion fa fa-trash-o bigger-130"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="dd-item" data-id="1">
                <div class="dd2-content">
                    <div class="col-md-2">财务部</div>
                    <div class="col-md-3">北京市朝阳区</div>
                    <div class="col-md-3">222</div>
                    <div class="action-buttons col-md-3 text-right">
                        <a class="blue">
                            <i class="ace-icion fa fa-pencil bigger-130"></i>
                        </a>
                        <a class="red">
                            <i class="ace-icion fa fa-trash-o bigger-130"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="dd-item" data-id="1">
                <div class="dd2-content">
                    <div class="col-md-2">人力部</div>
                    <div class="col-md-3">北京市朝阳区</div>
                    <div class="col-md-3">333</div>
                    <div class="action-buttons col-md-3 text-right">
                        <a class="blue">
                            <i class="ace-icion fa fa-pencil bigger-130"></i>
                        </a>
                        <a class="red">
                            <i class="ace-icion fa fa-trash-o bigger-130"></i>
                        </a>
                    </div>
                </div>
                <ol class="dd-list">
                    <li class="dd-item" data-id="1">
                        <div class="dd2-content">
                            <div class="col-md-3">规划</div>
                            <div class="col-md-3">北京市朝阳区</div>
                            <div class="col-md-3">111</div>
                            <div class="action-buttons col-md-3 text-right">
                                <a class="blue">
                                    <i class="ace-icion fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red">
                                    <i class="ace-icion fa fa-trash-o bigger-130"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="dd-item" data-id="1">
                        <div class="dd2-content">
                            <div class="col-md-3">招聘</div>
                            <div class="col-md-3">北京市朝阳区</div>
                            <div class="col-md-3">222</div>
                            <div class=" action-buttons col-md-3 text-right">
                                <a class="blue">
                                    <i class="ace-icion fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red">
                                    <i class="ace-icion fa fa-trash-o bigger-130"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>

<style>
    .action-buttons {
        position: absolute;
        top: 10px;
        right: -5px;
    }
</style>
<link href="/assets/global/css/ace.min.css" rel="stylesheet" type="text/css" />
<script src="/assets/global/plugins/jquery-nestable/jquery.nestable.js"></script>
<script>
    $(function () {
        $('.dd').nestable();

        $('.dd-handle a').on('mousedown', function (e) {
            e.stopPropagation();
        });
    })
</script>